<div class="login-page">
  <div class="form">
    <!-- LOGIN FORM -->
    <ng-container *ngIf="isLogin">
      <h1 class="form-heading">Welcome back</h1>
      <p class="form-subtext">Sign in to continue</p>

      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <input type="email" placeholder="Email" formControlName="email" />
        <input type="password" placeholder="Password" formControlName="password" />

        <button type="submit">Sign in</button>

        <p class="message">
          Don't have an account?
          <a (click)="toggleForm()">Create one</a>
        </p>
      </form>
    </ng-container>

    <!-- REGISTER FORM -->
    <ng-container *ngIf="!isLogin">
      <h1 class="form-heading">Create Account</h1>
      <p class="form-subtext">Register to continue</p>

      <form [formGroup]="registerForm" (ngSubmit)="register()">
        <input type="text" placeholder="Name" formControlName="name" />
        <input type="email" placeholder="Email" formControlName="email" />
        <input type="password" placeholder="Password" formControlName="password" />

        <button type="submit">Register</button>

        <p class="message">
          Already have an account?
          <a (click)="toggleForm()">Sign in</a>
        </p>
      </form>
    </ng-container>
  </div>
</div>
